<h1>マイページ</h1>

<div class = "mypage_user">
  <div>
    <p class = "small_title" >ユーザー</p>
  </div>
  <div>
    <p><%= @user.name %></p>
  </div>
</div>

<div class = "mypage_email">
  <div>
    <p class = "small_title" >メールアドレス</p>
  </div>
  <div>
    <%= @user.email %></p>
  </div>
</div>
